<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Team Info</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <link rel="stylesheet" href="/static/Join_page.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>Our Team</h1>
      <div class="our_team">
        <div class="team_member">
          <div class="member_img">
            <img
              src="/static/abhay.jpg"
              alt="our_team"
              style="border-radius: 50%"
            />
          </div>
          <h3>Abhay Jha</h3>
          <span>1BM20IS193</span>
        </div>

        <div class="team_member">
          <div class="member_img">
            <img
              src="/static/arpan.jpg"
              alt="our_team"
              style="border-radius: 50%"
            />
          </div>
          <h3>Arpan Bhusal</h3>
          <span>1BM20IS198</span>
        </div>

        <div class="team_member">
          <div class="member_img">
            <img
              src="/static/chelvuraj.jpg"
              alt="our_team"
              style="border-radius: 50%"
            />
          </div>
          <h3>Chelvuraj S</h3>
          <span>1BM21IS400</span>
        </div>
      </div>
    </div>
  </body>
</html>
